button.suggested-action {
  color: white;
  outline-color: rgba(255, 255, 255, 0.3);
  border-color: #215d9c;
  border-bottom-color: #184472;
  background-image: linear-gradient(to bottom, #4a90d9, #3986d5 60%, #2a76c6);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.54353);
  -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.54353);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4); }
  .selection-mode button.titlebutton,
  button.suggested-action.flat {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: #4a90d9; }
  button.suggested-action:hover {
    color: white;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #215d9c;
    border-bottom-color: #184472;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.49553);
    -gtk-icon-shadow: 0 -1px rgba(0, 0, 0, 0.49553);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.4);
    background-image: linear-gradient(to bottom, #63a0de, #4a90d9 60%, #3986d5); }
  button.suggested-action:active,
  button.suggested-action:checked {
    color: white;
    outline-color: rgba(255, 255, 255, 0.3);
    border-color: #215d9c;
    background-image: image(#3180d4);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none; }
  .selection-mode button.titlebutton:backdrop,
  button.suggested-action:backdrop,
  button.suggested-action.flat:backdrop {
    border-color: #4a90d9;
    background-image: image(#4a90d9);
    text-shadow: none;
    -gtk-icon-shadow: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0); }
    .selection-mode button.titlebutton:backdrop label, .selection-mode button.titlebutton:backdrop,
    button.suggested-action:backdrop label,
    button.suggested-action:backdrop,
    button.suggested-action.flat:backdrop label,
    button.suggested-action.flat:backdrop {
      color: #dbe9f7; }
    .selection-mode button.titlebutton:backdrop:active, .selection-mode button.titlebutton:backdrop:checked,
    button.suggested-action:backdrop:active,
    button.suggested-action:backdrop:checked,
    button.suggested-action.flat:backdrop:active,
    button.suggested-action.flat:backdrop:checked {
      border-color: #438cd8;
      background-image: image(#438cd8);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0); }
      .selection-mode button.titlebutton:backdrop:active label, .selection-mode button.titlebutton:backdrop:active, .selection-mode button.titlebutton:backdrop:checked label, .selection-mode button.titlebutton:backdrop:checked,
      button.suggested-action:backdrop:active label,
      button.suggested-action:backdrop:active,
      button.suggested-action:backdrop:checked label,
      button.suggested-action:backdrop:checked,
      button.suggested-action.flat:backdrop:active label,
      button.suggested-action.flat:backdrop:active,
      button.suggested-action.flat:backdrop:checked label,
      button.suggested-action.flat:backdrop:checked {
        color: #d9e8f7; }
    .selection-mode button.titlebutton:backdrop:disabled,
    button.suggested-action:backdrop:disabled,
    button.suggested-action.flat:backdrop:disabled {
      border-color: #c0c0bd;
      background-image: image(#f1f1f1);
      text-shadow: none;
      -gtk-icon-shadow: none;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0); }
      .selection-mode button.titlebutton:backdrop:disabled label, .selection-mode button.titlebutton:backdrop:disabled,
      button.suggested-action:backdrop:disabled label,
      button.suggested-action:backdrop:disabled,
      button.suggested-action.flat:backdrop:disabled label,
      button.suggested-action.flat:backdrop:disabled {
        color: #c3c3c0; }
      .selection-mode button.titlebutton:backdrop:disabled:active, .selection-mode button.titlebutton:backdrop:disabled:checked,
      button.suggested-action:backdrop:disabled:active,
      button.suggested-action:backdrop:disabled:checked,
      button.suggested-action.flat:backdrop:disabled:active,
      button.suggested-action.flat:backdrop:disabled:checked {
        border-color: #438cd8;
        background-image: image(#438cd8);
        box-shadow: inset 0 1px rgba(255, 255, 255, 0); }
        .selection-mode button.titlebutton:backdrop:disabled:active label, .selection-mode button.titlebutton:backdrop:disabled:checked label,
        button.suggested-action:backdrop:disabled:active label,
        button.suggested-action:backdrop:disabled:checked label,
        button.suggested-action.flat:backdrop:disabled:active label,
        button.suggested-action.flat:backdrop:disabled:checked label {
          color: #85b4e6; }
  .selection-mode button.titlebutton:backdrop, .selection-mode button.titlebutton:disabled, .selection-mode button.titlebutton:backdrop:disabled,
  button.suggested-action.flat:backdrop,
  button.suggested-action.flat:disabled,
  button.suggested-action.flat:backdrop:disabled {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0);
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: rgba(74, 144, 217, 0.8); }
  button.suggested-action:disabled {
    border-color: #b6b6b3;
    background-image: image(#f1f1f1);
    text-shadow: none;
    -gtk-icon-shadow: none;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0); }
    button.suggested-action:disabled label,
    button.suggested-action:disabled {
      color: #8b8e8f; }
    button.suggested-action:disabled:active,
    button.suggested-action:disabled:checked {
      border-color: #215d9c;
      background-image: image(#438cd8);
      box-shadow: inset 0 1px rgba(255, 255, 255, 0); }
      button.suggested-action:disabled:active label,
      button.suggested-action:disabled:active,
      button.suggested-action:disabled:checked label,
      button.suggested-action:disabled:checked {
        color: #b4d1ef; }
  .osd
  button.suggested-action {
    color: #eeeeec;
    border-color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    background-image: image(rgba(74, 144, 217, 0.5));
    background-clip: padding-box;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px black;
    -gtk-icon-shadow: 0 1px black;
    outline-color: rgba(238, 238, 236, 0.3); }
    .osd
    button.suggested-action:hover {
      color: white;
      border-color: rgba(0, 0, 0, 0.7);
      background-color: transparent;
      background-image: image(rgba(74, 144, 217, 0.7));
      background-clip: padding-box;
      box-shadow: inset 0 1px rgba(255, 255, 255, 0.1);
      text-shadow: 0 1px black;
      -gtk-icon-shadow: 0 1px black;
      outline-color: rgba(238, 238, 236, 0.3); }
    .osd
    button.suggested-action:active:backdrop, .osd
    button.suggested-action:active, .osd
    button.suggested-action:checked:backdrop, .osd
    button.suggested-action:checked {
      color: white;
      border-color: rgba(0, 0, 0, 0.7);
      background-color: transparent;
      background-image: image(#4a90d9);
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none;
      outline-color: rgba(238, 238, 236, 0.3); }
    .osd
    button.suggested-action:disabled:backdrop, .osd
    button.suggested-action:disabled {
      color: #858786;
      border-color: rgba(0, 0, 0, 0.7);
      background-color: transparent;
      background-image: image(rgba(49, 52, 52, 0.5));
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }
    .osd
    button.suggested-action:backdrop {
      color: #eeeeec;
      border-color: rgba(0, 0, 0, 0.7);
      background-color: transparent;
      background-image: image(rgba(74, 144, 217, 0.5));
      background-clip: padding-box;
      box-shadow: none;
      text-shadow: none;
      -gtk-icon-shadow: none; }
